/* .task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

.task-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
} */
